<div class='container top'>
 <div class='row'></div>
 <div class="mb-5"></div>
 <div class='row'>
  <div class='col-md-12 text-center'>
   <h3 class=='text-center'>会員情報編集</h3>
  </div>
 </div>

  <div class="mb-5"></div>

     <%= form_with model: @customer, url: public_information_path, local: true do |form| %>
     <%= render "public/shared/error_messages", resource: @customer %>

      <div class='row'>
       <div class='col-md-3'></div>
       <div class='col-md-3'><h4><%= form.label :name, "名前" %></h4></div>
       <div class='col-md-3'><h4><%= form.text_field :name, style: "width: 100%" %></h4></div>
       <div class='col-md-3'></div>
      </div>

   <div class="mb-5"></div>

     <div class='row'>
      <div class='col-md-3'></div>
      <div class='col-md-3'><h4><%= form.label :email, "メールアドレス" %></h4></div>
      <div class='col-md-3'><h4><%= form.email_field :email, autofocus: true, autocomplete: "email", style: "width: 100%" %></h4></div>
      <div class='col-md-3'></div>
     </div>

   <div class="mb-5"></div>

    <div class='row'>
     <div class='col-md-4'></div>
     <div class="col-md-4 text-center">
      <div class="actions edit-width">
       <%= form.submit "編集内容を保存", class:"btn btn-success btn-lg", style: "width: 70%" %>
      </div>
     </div>
     <div class='col-md-2'></div>
     <div class="col-md-2 custom-btn custom-top">
      <%= link_to public_unsubscribe_customer_path, class: "btn btn-danger btn-lg" do %>
        <i>退会する</i>
      <% end %>
     </div>
    </div>
      <% end %>
 <div class="mb-5"></div>
 <div class='row'></div>
</div>
