<div class='container top'>
 <div class='row'></div>
 <div class="mb-5"></div>
  <div class='row'>
   <div class='col-md-3'></div>
   <div class='col-5 text-center'>
    <h3 class="table-active">
     <%= @customer.name %>さんのマイページ</h3>
   </div>
   <div class='col-md-4'></div>
  </div>

  <div class="mb-5"></div>

   <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-2'><h3>氏名</h3></div>
    <div class='col-md-4'><h3><%= @customer.name %></h3></div>
    <div class='col-md-3'></div>
  </div>

 <div class="mb-5"></div>

  <div class='row'>
     <div class='col-md-3'></div>
     <div class="col-md-2"><h3>メールアドレス</h3></div>
     <div class='col-md-4'><h3><%= @customer.email %></h3></div>
    <div class='col-md-3'></div>
  </div>

 <div class="mb-5"></div>

   <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-2'><h3>登録情報</h3></div>
     <div class='col-md-3'>
       <%= link_to public_edit_customer_path(@customer), class: "btn btn-success btn-lg" do %>
       <i>編集</i>
       <% end %>
       
       
     </div>
     <div class='col-md-4'></div>
   </div>

 <div class="mb-5"></div>

   <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-2'><h3>作品投稿</h3></div>
    <div class='col-md-3'>
      <%= link_to new_public_novel_path, class: "btn btn-success btn-lg" do %>
       <i>新規投稿</i>
       <% end %>
     </div>
     <div class='col-md-4'></div>
   </div>

 <div class="mb-5"></div>

   <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-2'><h3>投稿作品一覧</h3></div>
    <div class='col-md-3'>
      <%= link_to public_my_novels_path, class: "btn btn-primary btn-lg" do %>
       <i>一覧</i>
       <% end %>
     </div>
     <div class='col-md-4'></div>
   </div>

 <div class="mb-5"></div>
 <div class='row'></div>
</div>




