<div class='container sign'>
 <div class='row'>
  <div class='col-md-1'></div>
   <div class='col-3 text-center'>
    <h2>管理者ログイン</h2>
   </div>
   <div class='col-md-8'></div>
 </div>

 <div class="mb-5"></div>

<%= form_with(model: resource, url: session_path(resource_name), local: true) do |f| %>

   <div class='row'>
     <div class='col-2'></div>
     <div class='col-2'><h5><%= f.label :email, "メールアドレス" %></h5></div>
     <div class='col-6'><%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 80%" %></div>
     <div class='col-2'></div>
   </div>


    <div class="mb-5"></div>

   <div class='row'>
     <div class='col-2'></div>
     <div class='col-2'><h5><%= f.label :password, "パスワード" %></h5></div>
     <div class='col-6'><%= f.password_field :password, autocomplete: "current-password", style: "width: 80%" %></div>
     <div class='col-2'></div>
   </div>

   <div class="mb-5"></div>

   <div class='row'>
    <div class='col-4'></div>
    <div class="col-3">
 　  <div class="actions">
    <%= f.submit "管理者ログイン", class: 'btn btn-success btn-lg', style: "width: 80%"  %>
    </div>
    </div>
   </div>
<% end %>


 <div class="mb-5"></div>
 <div class="row"></div>


</div>
