
 <table class="table table-borderless">

  <tr class="text-left">
      <th class="table-active"><%= @customer.name %>さんの会員詳細 </th>
  </tr>

  <tr class="text-left">
    <th class='col-md-3 text-left'>会員ID</th>
    <td class='col-md-9 text-left'><%= @customer.id %></td>
  </tr>

  <tr class="text-left">
    <th>名前</th>
    <td><%= @customer.name %></td>
  </tr>

  <tr class="text-left">
    <th>メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>

  <tr class="text-left">
    <th>会員ステータス</th>
    <td class="<%= @customer.is_active ? 'text-success' : '' %>">
      <%= @customer.is_active ? "有効" : "無効" %>
     </td>
  </tr>

  <tr>
    <td>
      <%= link_to edit_admin_customer_path(@customer), class: "btn btn-success btn-lg" do %>
      <i>編集する</i>
      <% end %>
    </td>
  </tr>

 </table>
