<div class="container top">
 <div class='row'></div>
 <div class="mb-5"></div>

  <div class="row">
   <div class='col-md-3'></div>
   <div class='col-5 text-center'>
    <h3 class="table-active">投稿作品編集</h3>
   </div>
   <div class='col-md-4'></div>
   </div>

  <div class="mb-4"></div>

     <%= form_with model: @novel, url: public_novel_path, local: true do |f| %>
      <%= render "public/shared/error_messages", resource: @novel %>
    <div class="row">
     <div class='col-md-2'></div>
     <div class="col-md-2 text-center">
       <h4>タイトル</h4>
     </div>
     <div class="col-md-7">
       <%= f.text_field :title, autofocus: true, class: "form-control" %>
     </div>
     <div class="col-md-1"></div>
    </div>

  <div class="mb-4"></div>

   <div class="row">
    <div class='col-md-2'></div>
    <div class='col-md-2 text-center'>
     <h4>ジャンル</h4>
    </div>
    <div class="col-md-10"></div>
    </div>


      <% @genres.each do |genre| %>
      <div class="row">
        <div class="col-md-11">
          <%= check_box_tag 'novel[genre_ids][]', genre.id, @novel.genres.include?(genre) %>
          <%= label_tag genre.genre_name %>
        </div>
       </div>
      <% end %>

  <div class="mb-4"></div>

  <div class="row">
    <div class='col-md-2'></div>
    <div class='col-md-2 text-center'>
      <h4>掲載サイト</h4>
    </div>
    <div class="col-md-7">
      <%= f.text_field :site_name, autofocus: true, class: "form-control" %>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="mb-4"></div>

  <div class="row">
    <div class='col-md-2'></div>
    <div class='col-md-2 text-center'>
      <h4>レビュー</h4>
    </div>
    <div class="col-md-7"><%= f.text_area :review, autofocus: true, class: "form-control" %></div>
    <div class="col-md-1"></div>
    </div>

  <div class="mb-4"></div>

  <div class="row">
    <div class='col-md-2'></div>
    <div class='col-md-2 text-center'>
     <div class="form-group" id="new_star">
      <h4><%= f.label :star, "評価" %></h4>
     </div>
    </div>
    <div class='col-md-4 text-center'>
      <div style="display: inline-block; vertical-align: middle;">
        <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
       <div id="post_raty"></div>
      </div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "/assets/star-on.png",
          starOff: "/assets/star-off.png",
          starHalf: "/assets/star-half.png",
          scoreName: 'novel[star]',
        };
        raty(elem, opt);
      });
    </script>
  </div>

  <div class="mb-4"></div>

   <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-3'>
        <div class="actions">
       　　<%= f.submit "編集内容を保存", class:"btn btn-success btn-lg btn-block" %>
     　　</div>
    </div>
    <div class='col-md-4'></div>
    <div class='col-md-2 text-center'>
      <%= link_to public_novel_path(@novel), method: :delete, class: "btn btn-danger btn-lg btn-block", data: { confirm: '本当に削除しますか？' } do %>
       削除
      <% end %>
    </div>
    </div>
  <% end %>
 <div class="mb-5"></div>
 <div class='row'></div>
</div>