
<div class="container top">
<% if flash[:notice].present? %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
 <div class='row'></div>
 <div class="mb-3"></div>
 <div class='row'>
  <div class='col-md-12 text-center'>
   <h3 class=='text-center'>作品一覧</h3>
  </div>
 </div>

  <% if current_customer %>

  <div class="col-md-12 my-3 p-3 border shadow-sm">
   <div class="search">
    <div class="row">
     <div class="col-md-12">
      <div class="overflow-x-auto">
       <%= form_with url: public_novels_path(type: "genre"), method: :get, local: true do |f| %>
        <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :genre_name do |b| %>
         <%= b.check_box %>
         <%= b.label %>
        <% end %>
        <%= button_tag type: "submit", class: "border rounded-pill shadow-sm search-btn" do %>
          <i class="fas fa-search">検索</i>
        <% end %>
       <% end %>
      </div>
     </div>
    </div>
  <div class="mb-4"></div>

     <%= form_with url: public_novels_path(), method: :get, local: true do |f| %>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <%= f.text_field :content, class: "form-control" %>
        </div>
        <div class="col-md-1">
          <%= f.select :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}) %>
        </div>
        <div class="col-md-2 text-center">
         <%= button_tag type: "submit", class: "border rounded-pill shadow-sm search-btn" do %>
          <i class="fas fa-search">検索</i>
         <% end %>
        </div>
    </div>
     <% end %>
    </div>
    </div>

  <div class="mb-4"></div>

    <div class="row">
     <div class="col-md-3"></div>
     <div class="col-md-6">
      <%= link_to '新しい順', public_novels_path(latest: "true"), class: "custom-link" %>
      |<%= link_to '古い順', public_novels_path(old: "true"), class: "custom-link" %>
      |<%= link_to '評価の高い順', public_novels_path(star_count: "true"), class: "custom-link" %>
     </div>
     <div class="col-md-3"></div>
    </div>

  <div class="mb-4"></div>


  <% @novels.each do |novel| %>
   <div class='row '>
    <%= render 'public/novels/novel', novel: novel %>
   </div>
   <div class="mb-4"></div>
   <div class="divider"></div>
  <% end %>


 <% else %>
    ログインしてください
 <% end %>

   <div class='row text-center'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <%= paginate @novels %>
    </div>
    <div class='col-md-3'></div>
   </div>

 <div class="mb-5"></div>
 <div class='row'></div>
</div>
