<% if flash[:notice].present? %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container top">
 <div class="row mb-3"></div>
  <div class='row text-center'><h2>作品一覧</h2></div>
  <% if current_customer %>
  <div class="col-md-10 my-3 p-3 border shadow-sm">
   <div class="search">
    <div class="row">
     <div class="col-md-6">
      <%= form_with url: public_novels_path(type: "genre"), method: :get, local: true do |f| %>
       <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :genre_name do |b| %>
         <%= b.check_box %>
         <%= b.label %>
       <% end %>
       <%= button_tag type: "submit", class: "border rounded-pill shadow-sm search-btn" do %>
          <i class="fas fa-search">検索</i>
       <% end %>
      <% end %>
     </div>

     <%= form_with url: public_novels_path(), method: :get, local: true do |f| %>
      <div class="col-md-6">
        <%= f.text_field :content %>
        <%= f.select :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}) %>
        <%= f.submit "検索" %>
      </div>
     <% end %>
    </div>
    </div>
    <div class="row">
     <div class="col-md-6">
      <%= link_to '新しい順', public_novels_path(latest: "true") %>
      |<%= link_to '古い順', public_novels_path(old: "true") %>
      |<%= link_to '評価の高い順', public_novels_path(star_count: "true") %>
     </div>
    </div>
   </div>

 <div class='row'>
  <th>
  <% @novels.each do |novel| %>
   <%= render 'public/novels/novel', novel: novel %>
  <% end %>
  </th>
 </div>
 <% else %>
    ログインしてください
 <% end %>


</div>
