
<div class="container top">
<% if flash[:notice].present? %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
 <div class='row'></div>
 <div class="mb-3"></div>
 <div class='row'>
  <div class='col-md-12 text-center'>
   <h3 class=='text-center'>作品一覧</h3>
  </div>
 </div>

  <% if current_customer %>

  <div class="col-md-12 my-3 p-3 border shadow-sm">
   <div class="search">
  <%= form_with url: public_novels_path(), method: :get, local: true do |f| %>
   <div class="row">
    <div class="col-md-12">
        <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :genre_name do |b| %>
         <%= b.check_box %>
         <%= b.label %>
        <% end %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
      <%= f.text_field :content, class: "form-control", placeholder: "キーワードで検索" %>
    </div>
    <div class="col-md-2 text-right">
      一致： <%= f.select :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}, params[:method]), include_blank: true, class: "form-control" %>
    </div>
    <div class="col-md-2 text-right">
      順番： <%= f.select :sort_by, options_for_select({"新しい順" => "latest", "古い順" => "old", "高評価順" => "star_count"}, params[:sort_by]), include_blank: "", class: "form-control" %>
    </div>
   </div>

  <div class="mb-3"></div>

   <div class="row">
    <div class="col-md-3">
      <%= f.date_field :start_date, class: "form-control", placeholder: "開始日" %>
    </div>
    <div class="col-md-3">
      <%= f.date_field :end_date, class: "form-control", placeholder: "終了日" %>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2 text-center custom-top">
      <%= button_tag type: "submit", class: "btn btn-primary" do %>
        <i class="fas fa-search"></i> 検索
      <% end %>
    </div>
   </div>
  <% end %>
   </div>
   </div>


  <div class="mb-4"></div>

    <div class="row center">
     <div class="col-md-3"></div>
     <div class="col-md-6">
      <%= link_to '新しい順', public_novels_path(genre_ids: params[:genre_ids], content: params[:content], method: params[:method], sort_by: 'latest'), class: "custom-link" %>
      |<%= link_to '古い順', public_novels_path(genre_ids: params[:genre_ids], content: params[:content], method: params[:method], sort_by: 'old'), class: "custom-link" %>
      |<%= link_to '評価の高い順', public_novels_path(genre_ids: params[:genre_ids], content: params[:content], method: params[:method], sort_by: 'star_count'), class: "custom-link" %>
      |<%= link_to '累計', public_novels_path(genre_ids: params[:genre_ids], content: params[:content], method: params[:method], sort_by: 'all'), class: "custom-link" %>
     </div>
     <div class="col-md-3"></div>
    </div>

  <div class="mb-4"></div>


  <% @novels.each do |novel| %>
   <div class='row'>
    <%= render 'public/novels/novel', novel: novel %>
   </div>
   <div class="mb-4"></div>
   <div class="divider"></div>
  <% end %>


 <% else %>
    ログインしてください
 <% end %>

   <div class='row text-center'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <%= paginate @novels %>
    </div>
    <div class='col-md-3'></div>
   </div>

 <div class="mb-5"></div>
 <div class='row'></div>
</div>
