<div class="container">
  <div class="row">
    <h2>作品投稿</h2>
  </div>

  <%= form_with model: @novel, url: public_novels_path do |f| %>

  <div class="row">
    <div class="col">
    <p>タイトル</p>
    </div>
    <div class="col">
      <%= f.text_field :title,autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="col">
     <p>ジャンル</p>
    </div>
  </div>
  
  <div class="form-group row">  
   <%= f.label :genre_ids, 'ジャンル:', class: 'col-md-4' %>
    <div class="col-md-8 border d-flex flex-row flex-wrap">
      <%= f.collection_check_boxes :genre_ids, @genres, :id, :genre_name do |b| %>
      <div class="mx-2 mt-1">
        <%= b.check_box %>
        <%= b.label %>
      </div>
     <% end %> 
    </div>
  </div>


  <!--<div class="row">-->
  <!-- <div class="check_box">-->
  <!--  <span>ジャンル</span>-->
  <!--  <%#= f.collection_check_boxes(:genre_ids, Genre.all, :id, :genre_name) do |genre| %>-->
  <!--   <div>-->
  <!--     <%#= genre.label do %>-->
  <!--       <%#= genre.check_box %>-->
  <!--       <%#= genre.text %>-->
  <!--     <%# end %>-->
  <!--   </div>-->
  <!--  <%# end %>-->
  <!-- </div>-->
  <!--</div>-->




  <div class="row">
    <div class="col">
    <p>掲載サイト</p>
    </div>
    <div class="col">
      <%= f.text_field :site_name,autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <p>レビュー</p>
    </div>
    <div class="col">
      <%= f.text_area :review,autofocus: true %>
    </div>
  </div>

  <div class="row">
      <% if @novel.id.nil? %>
    <div class="form-group" id="star">
      <%= f.label :star %>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'novel[star]',
        };
        raty(elem, opt);
      });
    </script>
     <% else %>
      <div class="form-group">
      <%= render "static.rate", novel: novel %>
      </div>
      <% end %>
  </div>

  <div class="row">
   <div class="actions">
     <%= f.submit "作品情報を投稿", class: 'btn btn-success btn-lg', style: "width: 80%"  %>
   </div>
  </div>
  <% end %>
</div>
