<div class="container top">
 <div class='row'></div>
 <div class="mb-3"></div>

  <div class="row">
   <div class='col-md-3'></div>
   <div class='col-5 text-center'>
    <h3 class="table-active page-label">作品投稿画面</h2>
   </div>
   <div class='col-md-4'></div>
  </div>

  <div class="mb-4"></div>

<%= form_with model: @novel, url: public_novels_path do |f| %>

  <div class="row">
    <div class='col-md-2'></div>
    <div class='col-md-2 text-center'>
     <h4>タイトル</h4>
    </div>
    <div class='col-md-7'>
      <%= f.text_field :title, autofocus: true, class: "form-control" %>
    </div>
    <div class='col-md-1'></div>
  </div>

  <div class="mb-4"></div>


   <div class="row">
    <div class='col-md-2'></div>
    <div class='col-md-2 text-center'>
     <h4>ジャンル</h4>
    </div>
    <div class="col-md-8 ">
     <div class="overflow-x-auto d-inline-flex">
      <%= f.collection_check_boxes :genre_ids, @genres, :id, :genre_name do |b| %>
       <div class="mr-3">
        <%= b.check_box %>
        <%= b.label %>
       </div>
      <% end %>
     </div>
    </div>
   </div>

  <div class="mb-4"></div>

  <div class="row">
    <div class='col-md-2'></div>
    <div class='col-md-2 text-center'>
     <h4>掲載サイト</h4>
    </div>
    <div class='col-md-7'>
      <%= f.text_field :site_name, autofocus: true, class: "form-control" %>
    </div>
    <div class='col-md-1'></div>
  </div>

  <div class="mb-4"></div>

  <div class="row">
    <div class='col-md-2'></div>
    <div class='col-md-2 text-center'>
     <h4>レビュー</h4>
    </div>
    <div class='col-md-7'>
      <%= f.text_area :review,autofocus: true, class: "form-control" %>
    </div>
    <div class='col-md-1'></div>
  </div>

  <div class="mb-4"></div>

  <div class="row">
   <div class='col-md-2'></div>
      <% if @novel.id.nil? %>
   <div class='col-md-2 text-center'>
    <div class="form-group" id="star">
      <h4><%= f.label :star, "評価" %></h4>
    </div>
   </div>
   <div class='col-md-4 text-center'>
      <div style="display: inline-block; vertical-align: middle;">
        <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
      </div>
      <script>
       $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'novel[star]',
        };
        raty(elem, opt);
       });
    </script>
     <% else %>
      <div class="form-group">
      <%= render "static.rate", novel: novel %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="mb-4"></div>

   <div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4'>
     <div class="actions center">
      <%= f.submit "作品情報を投稿", class: 'btn btn-success btn-lg', style: "width: 80%"  %>
     </div>
    </div>
    <div class='col-md-4'></div>
   </div>
<% end %>

 <div class="mb-5"></div>
 <div class='row'></div>

</div>
