<div class="container">
  <div class="row">
    <h2>作品投稿</h2>
  </div>

  <%= form_with model: @novel, url: public_novels_path do |f| %>

  <div class="row">
    <div class="col">
    <p>タイトル</p>
    </div>
    <div class="col">
      <%= f.text_field :title,autofocus: true %>
    </div>
  </div>

  <!--<div class="row"></div> ジャンル選択画面-->

  <div class="row">
    <div class="col">
    <p>掲載サイト</p>
    </div>
    <div class="col">
      <%= f.text_field :site_name,autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <p>レビュー</p>
    </div>
    <div class="col">
      <%= f.text_area :review,autofocus: true %>
    </div>
  </div>

  <div class="row">
      <% if @novel.id.nil? %>
    <div class="form-group" id="star">
      <%= f.label :star %>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'novel[star]',
        };
        raty(elem, opt);
      });
    </script>
     <% else %>
      <div class="form-group">
      <%= render "static.rate", novel: novel %>
      </div>
      <% end %>
  </div>

  <div class="row">
   <div class="actions">
     <%= f.submit "作品情報を投稿", class: 'btn btn-success btn-lg', style: "width: 80%"  %>
   </div>
  </div>
  <% end %>
</div>
