
<div class='container sign'>
 <div class='row'>
  <div class='col-md-1'></div>
   <div class='col-3 text-center'>
    <h2>新規登録画面</h2>
   </div>
   <div class='col-md-8'></div>
 </div>

  <div class="mb-5"></div>

  <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
    <%= render "public/shared/error_messages", resource: @customer %>

   <div class='row'>
     <div class='col-2'></div>
     <div class='col-2'><h5><%= f.label :name, "名前" %></h5></div>
     <div class='col-6'><%= f.text_field :name, autofocus: true, autocomplete: "name", style: "width: 80%" %></div>
     <div class='col-2'></div>
   </div>

   <div class="mb-5"></div>

   <div class='row'>
     <div class='col-2'></div>
     <div class='col-2'><h5><%= f.label :email, "メールアドレス" %></h5></div>
     <div class='col-6'><%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 80%" %></div>
     <div class='col-2'></div>
   </div>

   <div class="mb-5"></div>

   <div class='row'>
     <div class='col-2'></div>
     <div class='col-2'><h5><%= f.label :password, "パスワード" %>
       <% if @minimum_password_length %>
         <em>(<%= @minimum_password_length %> 文字以上)</em>
       <% end %></h5></div>
     <div class='col-6'><%= f.password_field :password, autocomplete: "new-password", style: "width: 80%" %></div>
     <div class='col-2'></div>
   </div>

   <div class="mb-5"></div>

   <div class='row'>
     <div class='col-2'></div>
     <div class='col-2'><h5><%= f.label :password_confirmation, "パスワード(確認用)" %></h5></div>
     <div class='col-6'><%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width: 80%" %></div>
     <div class='col-2'></div>
   </div>

   <div class="mb-5"></div>

   <div class='row'>
    <div class='col-4'></div>
    <div class="col-3">
    <div class="actions">
     <%= f.submit "新規登録", class: 'btn btn-success btn-lg', style: "width: 80%" %>
    </div>
    </div>
    </div>
  <% end %>

  <div class="mb-5"></div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4"><h4>既に登録済みの方</h4></div>
    <div class="col-md-6"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
    <h4><%= render "public/shared/links" %>からログインしてください</h4></div>
    <div class="col-md-5"></div>
  </div>

  <div class="mb-5"></div>
  <div class="row"></div>

</div>
