<!DOCTYPE html>
<html>
  <head>
    <title>NovelSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="container">
         <div class="row">
          <%= link_to "アバウト", about_path %>
        </div>


        <div class="row">
          <%= link_to "新規登録", new_customer_registration_path %>
        </div>
        <div class="row">
          <%= link_to "ログイン", new_customer_session_path %>
        </div>
        <div class="row">
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        </div>
    <%= yield %>
    </div>
  </body>

</html>
