<!DOCTYPE html>
<html>
  <head>
    <title>NovelSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= javascript_include_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="shadow-sm border-bottom border-dark">
    <div class="container">
     <div class="row">
      <div class="col-md-4 text-center" style="background-color: #f0f0f0; padding: 20px;">
       <h1><%= link_to "Novel-Search", root_path, style: "text-decoration: none; color: #009933;" %></h1>
       </div>
      <div class="col-md-1"></div>
       <div class="col-md-7">
        <div class="row">
         <div id="navbarDropdown">
          <div class="ml-auto">
           <ul class="navbar-nav" style="flex-direction: unset;">
            <% if customer_signed_in? %>
              <li class="navbar-link my-1"><%= link_to "アバウト", about_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
             <% if current_customer.email != 'guest@example.com' %>
              <li class="navbar-link my-1"><%= link_to "マイページ", public_customer_my_page_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
             <% end %>
              <li class="navbar-link my-1"><%= link_to "作品一覧", public_novels_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
              <li class="navbar-link my-1"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>

             <% elsif admin_signed_in? %>
              <li class="navbar-link my-1"><%= link_to "作品一覧", admin_novels_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
              <li class="navbar-link my-1"><%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
              <li class="navbar-link my-1"><%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
              <li class="navbar-link my-1"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>

             <% else %>
              <li class="navbar-link my-1"><%= link_to "アバウト", about_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
              <li class="navbar-link my-1"><%= link_to "ゲストログイン（閲覧用）", customer_guest_sign_in_path, class: "btn btn-secondary sign_in", method: :post, :style => "margin-left: 10px;" %></li>
              <li class="navbar-link my-1"><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
              <li class="navbar-link my-1"><%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
              <li class="navbar-link my-1"><%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn-outline-dark", :style => "margin-left: 10px;" %></li>
             <% end %>
           </ul>
          </div>
         </div>
        </div>
        <div class="row mb-5"></div>
       </div>
     </div>
    </div>

        </header>
        <main class="mb-auto">
        <%= yield %>
        </main>


    </body>


</html>
